* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --ff-secondary: 'Roboto Mono', monospace;

    --fc-app: #e1e1e6;
    --fc-buttn: #fff;
    --bg-button: hsla(195, 91%, 25%, 1);
    --bg-table-th: hsla(194, 72%, 13%, 1);
    --bg-input: hsla(191, 65%, 7%, 1);
    --fc-pacehouder: #7C7C8A;
    --border-table-tr: hsla(191, 31%, 42%, 1);
    --bg-table-tr: hsla(192, 65%, 7%, 1);
    --cf-remover: #F75A68;
    --no-favs-bg-color: hsl(192, 63%, 3%);
    --light-blue: hsl(191, 31%, 42%);
}

body {
    padding: 11.5rem 16rem;
    font-size: 1.6em;
    background-color: #000;
    color: var(--fc-app);
    font-family: 'Roboto', sans-serif;
}

header .topo {
    padding-bottom: 8.7rem;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .search {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

header nav input {
    position: relative;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;
    color: var(--fc-app);
    background: var(--bg-input);
    width: 46.2rem;
    height: 4.8rem;
    border: 0;
    padding: 1.6rem;
    border-radius: 0.5rem;
}

header nav button {
    border: 0;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 1.2rem 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    border-radius: 0.5rem;
    background: var(--bg-button);
    color: var(--font-color);
    cursor: pointer;
}

header nav button:hover {
    background: var(--fc-buttn);
    color: var(--bg-button);
    font-weight: 900;
}

nav button svg {
    fill: var(--fc-app)
}

nav button:hover svg {
    fill: var(--bg-button);
}

.table {
    border: 1px solid var(--light-blue);
    border-radius: 1.2rem;
    overflow: hidden;
    max-height: 60rem;
    overflow-y: overlay;
    scrollbar-width: thin;
    
}

.table::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
    
}
.table::-webkit-scrollbar-button{
    border-top: var(--light-blue);
    background-color: transparent;
    height: 65px;
    border-radius: 15px;
}
.table::-webkit-scrollbar-thumb{
background-color: var(--light-blue);
border-radius: 12px;
width: 122px;

}

#app table {

    outline: 1px solid var(--border-table-tr);

    width: 100%;
    border-collapse: collapse;
    text-align: left;

}


table tr th {
    padding: 1.6rem 4.0rem;
    background: var(--bg-table-th);
    font-weight: 700;
    font-size: 2rem;
    line-height: 160%;
    color: #E1E1E6;

}

table tr th:first-child {
    border-radius: 1.2rem 0 0 0;
    width: 50.4rem;

}

table tr th:last-child {
    border-radius: 0 1.2rem 0 0;

}

tr td {
    padding: 24px 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: #E1E1E6;

}

tr:nth-child(odd) {
    border: 12px;
    background: var(--bg-table-tr);
}

tr:nth-child(even) {
    background: none;
    outline: 1px solid var(--border-table-tr);

}

tbody tr:last-child {
    outline: 1px solid var(--border-table-tr);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

tr img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

td.user {
    display: flex;
    align-items: center;
    gap: 16px;

}

td.user a {
    text-decoration: none;
    color: var(--fc-app);
}

td.user a span {
    font-weight: 400;
}

.remover a {
    text-decoration: none;
    color: var(--cf-remover);
}

.hide {
    display: none;
}

.emptyStates {
    font-family: var(--ff-secondary);
    background-color: var(--no-favs-bg-color);

    display: flex;
}

.noFavs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    margin: 21rem auto 28.7rem;
}

.noFavs svg {
    width: 13.2rem;
    height: 12.5rem;
}

.noFavs h2 {
    font-size: 4rem;
    line-height: 2.5rem;
    color: #4E5455;
}